<!-- 
<div class="box box-primary">

<div class="box-body">

 -->
    <form name="frmempresa" role="form">
        <div class="row">
        <div class="col-xs-12 col-sm-4 col-sm-offset-4">
            <div class="form-group">
                <label class="control-label" for="nombre"> * Tipo:</label>
                <div class="controls">
                    <input list="categoria" class="form-control" ng-model="empresa.tipo" placeholder="categoria" required autofocus/>
                    <datalist id="categoria">
                        <option value="Empresario">
                        <option value="Empresaria">
                        <option value="Propietario">
                        <option value="Propietaria">
                        <option value="Representante">
                    </datalist>
                </div>
            </div>
        </div>
        </div>
        <div class="col-xs-12 col-sm-4">
            <div class="form-group">
                <label class="control-label" for="nombre"> * Nombre:</label>
                <div class="controls">
                    <input type="text" class="form-control" ng-model="empresa.nombre" placeholder="Nombre" required />
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4">
            <div class="form-group">
                <label class="control-label" for="nombre"> NIT:</label>
                <div class="controls">
                    <input type="text" class="form-control" ng-model="empresa.nit" placeholder="Nit"/>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4">
            <div class="form-group">
                <label class="control-label" for="nombre"> Registro de IVA:</label>
                <div class="controls">
                    <input type="text" class="form-control" ng-model="empresa.registro_iva" placeholder="Nit" />
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-3">
            <div class="form-group">
                <label class="control-label"> Categoria:</label>
                <div class="controls">
                    <input list="categoria" class="form-control" ng-model="empresa.categoria" placeholder="categoria"/>
                    <datalist id="categoria">
                        <option value="Empresa">
                        <option value="Grupo">
                    </datalist>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-3">
            <div class="form-group">
                <label class="control-label"> Clasificación:</label>
                <div class="controls">
                    <input list="clasificacion" class="form-control" ng-model="empresa.clasificacion" placeholder="Clasificación"/>
                    <datalist id="clasificacion">
                        <option value="Emprendedor">
                        <option value="Micro-empresa">
                        <option value="Micro-empresa de Subsistencia">
                        <option value="Grupo Asociativo Empresas">
                        <option value="No definido">
                    </datalist>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-3">
            <div class="form-group">
                <label class="control-label"> Constitucion:</label>
                <div class="controls">
                    <input list="constitucion" class="form-control" ng-model="empresa.constitucion" placeholder="constitucion"/>
                    <datalist id="constitucion">
                      <option value="Persona Natural">
                      <option value="Persona Juridica">
                      <option value="Grupo de empresas">
                      <option value="Grupo de Emprendedores">
                      <option value="UDP">
                      <option value="Informal Natural">
                    </datalist>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-3">
            <div class="form-group">
                <label class="control-label"> Sector Economico:</label>
                <div class="controls">
                    <input list="sector" class="form-control" ng-model="empresa.sector_economico" placeholder="Sector"/>
                    <datalist id="sector">
                      <option value="Artesanias">
                      <option value="Agroindustrias Alimentaria">
                      <option value="Calzado">
                      <option value="Comercio">
                      <option value="Construcción">
                      <option value="Química Farmaceutica">
                      <option value="Tecnología de Información y Comunicación">
                      <option value="Textiles y Confección">
                      <option value="Turismo">
                      <option value="Otros">
                    </datalist>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4">
            <div class="form-group">
                <label class="control-label" for="actividad"> Actividad Economica:</label>
                <div class="controls">
                    <input type="text" class="form-control" ng-model="empresa.actividad" placeholder="actividad"/>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4">
            <div class="form-group">
                <label class="control-label"> Municipio:</label>
                <div class="controls">
                    <input type="text" class="form-control" ng-model="empresa.municipio" placeholder="Municipio" />
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4">
            <div class="form-group">
                <label class="control-label" for="direccion"> Dirección:</label>
                <div class="controls">
                    <input type="text" class="form-control" ng-model="empresa.direccion" placeholder="Lugar, Calle etc..." />
                </div>
            </div>
        </div>
       <div class="col-xs-12">
            <div class="form-group">
                <label class="control-label" for="nombre"> Descripción:</label>
                <div class="controls">
                    <textarea cols="30" rows="3" class="form-control" ng-model="empresa.descripcion" placeholder="Detalle"></textarea>
                </div>
            </div>
        </div>
    </form>

<!-- </div>
<div class="box-footer"> -->
    <button class="btn btn-primary pull-right" ng-click="Ok(empresa);" ng-disabled="frm.$invalid">Guardar</button>
    <a href="javascript:window.history.back();" class="btn" ng-click="Cancelar();">Volver</a>
<!-- </div> -->

