<div ng-include="'app/views/clientes/empresas/pasos.html'"></div>
<br>
<div class="box box-primary">

<div class="box-body">

    <form name="frm" role="form">
        <div class="col-xs-12 col-sm-3">
            <div class="form-group">
                <label class="control-label" for="nombre"> Fecha:</label>
                <div class="controls">
                    <input type="date" class="form-control" ng-model="indicadores.fechaInicio" placeholder="Fecha" autofocus />
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-3">
            <div class="form-group">
                <label class="control-label" for="nombre"> Contabilidad formal:</label>
                <div class="controls">
                    <input type="text" class="form-control" ng-model="indicadores.contabilidadFormal" placeholder="Nit" />
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-3">
            <div class="form-group">
                <label class="control-label" for="ventaNacional"> Venta Nacional:</label>
                <div class="controls">
                    <input type="number" class="form-control" ng-model="indicadores.ventaNacional" placeholder="0.0" />
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-3">
            <div class="form-group">
                <label class="control-label" for="ventaExportacion"> Venta exportación:</label>
                <div class="controls">
                    <input type="number" class="form-control" ng-model="indicadores.ventaExportacion" placeholder="0.0"/>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-3">
            <div class="form-group">
                <label class="control-label"> Costo de producción:</label>
                <div class="controls">
                    <input type="number" class="form-control" ng-model="indicadores.costoProduccion" placeholder="0.0" />
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-3">
            <div class="form-group">
                <label class="control-label" for="financiamiento"> Financiamiento:</label>
                <div class="controls">
                    <input type="number" class="form-control" ng-model="indicadores.financiamiento" placeholder="0.0" />
                </div>
            </div>
        </div>
       <div class="col-xs-12 col-sm-3">
            <div class="form-group">
                <label class="control-label" for="nombre"> Capital Semilla:</label>
                <div class="controls">
                    <input type="number" class="form-control" ng-model="indicadores.capitalSemilla" placeholder="0.0" />
                </div>
            </div>
        </div>
       <div class="col-xs-12 col-sm-3">
            <div class="form-group">
                <label class="control-label" for="nombre"> Empleados Hombres:</label>
                <div class="controls">
                    <input type="number" class="form-control" ng-model="indicadores.empleadosHombreTemp" placeholder="0.0" />
                </div>
            </div>
        </div>
       <div class="col-xs-12 col-sm-3">
            <div class="form-group">
                <label class="control-label" for="nombre"> Empleados Hombres:</label>
                <div class="controls">
                    <input type="number" class="form-control" ng-model="indicadores.empleadosHombreFijo" placeholder="0.0" />
                </div>
            </div>
        </div>
       <div class="col-xs-12 col-sm-3">
            <div class="form-group">
                <label class="control-label" for="nombre"> Empleados Mujer:</label>
                <div class="controls">
                    <input type="number" class="form-control" ng-model="indicadores.empleadosMujerTemp" placeholder="0.0" />
                </div>
            </div>
        </div>
       <div class="col-xs-12 col-sm-3">
            <div class="form-group">
                <label class="control-label" for="nombre"> Empleados Mujer:</label>
                <div class="controls">
                    <input type="number" class="form-control" ng-model="indicadores.empleadosMujerFijo" placeholder="0.0" />
                </div>
            </div>
        </div>
    </form>

</div>
<div class="box-footer">
    <button class="btn btn-primary pull-right" ng-click="Ok(indicadores);" ng-disabled="frm.$invalid">Guardar</button>
    <a href="javascript:window.history.back();" class="btn" ng-click="Cancelar();">Volver</a>
</div>

