<!-- <div class="col-lg-4 col-xs-6">
    <div class="small-box bg-yellow">
        <div class="inner">
          <h3>{{dash.empresas}}</h3>
          <p>Empresas</p>
        </div>
        <div class="icon">
          <i class="fa fa-cube"></i>
        </div>
    </div>
</div>

<div class="col-lg-4 col-xs-6">
    <div class="small-box bg-red">
        <div class="inner">
            <h3>{{dash.empresarios}}</h3>
            <p>Empresarios</p>
        </div>
        <div class="icon">
            <i class="fa fa-money"></i>
        </div>
    </div>
</div>

<div class="col-lg-4 col-xs-6">
    <div class="small-box bg-green">
        <div class="inner">
            <h3>{{dash.consultores}}</h3>
            <p>Consultores</p>
        </div>
        <div class="icon">
            <i class="fa fa-glass"></i>
        </div>
    </div>
</div> -->

<div class="col-lg-4 col-xs-6">
    <div class="small-box bg-green">
        <div class="inner">
            <h3>{{dash.ats}}</h3>
            <p>Asistencias Técnicas</p>
        </div>
        <div class="icon">
            <i class="fa fa-bell"></i>
        </div>
    </div>
</div>

<div class="col-lg-4 col-xs-6">
    <div class="small-box bg-yellow">
        <div class="inner">
            <h3>{{dash.caps}}</h3>
            <p>Capacitaciones</p>
        </div>
        <div class="icon">
            <i class="fa fa-users"></i>
        </div>
    </div>
</div>

<div class="col-lg-4 col-xs-6">
    <div class="small-box bg-blue">
        <div class="inner">
            <h3>{{dash.eventos}}</h3>
            <p>Eventos</p>
        </div>
        <div class="icon">
            <i class="fa fa-building"></i>
        </div>
    </div>
</div>
        <!-- <a href="#" class="small-box-footer">Más <i class="fa fa-arrow-circle-right"></i></a> -->