<div ng-include="'app/views/clientes/pasos.html'"></div>
<br>

<div class="box box-default">
  <div class="box-header with-border">
    <span class="label label-primary">{{empresa.terminos.length}}</span>
    <h3 class="box-title">Asistencias Técnicas</h3>
    <div class="box-tools pull-right">
        <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="glyphicon glyphicon-minus"></i></button>
    </div>
  </div>
  <div class="box-body">
    <table class="table table-bordered table-hover table-responsive">
        <thead>
            <tr>
                <th>ID</th>
                <th>Fecha</th>
                <th>Tema</th>
                <th>Especialidad</th>
                <th>Estado</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="termino in empresa.terminos">
                <td>{{termino.id}}</td>
                <td>{{termino.fecha}}</td>
                <td>{{termino.tema}}</td>
                <td>{{termino.especialidad}}</td>
                <td>{{termino.estado}}</td>
                <td> <a href="#/asistencia/tdr/{{termino.id}}" class="btn btn-default" title="Ver"> <i class="glyphicon glyphicon-arrow-right"></i> </a> </td>
            </tr>
        </tbody>
    </table>
  </div>
</div>

<div class="box box-default">
  <div class="box-header with-border">
    <span class="label label-primary">{{empresa.empresario.empresario.asistencias.length}}</span>
    <h3 class="box-title">Capacitaciones</h3>
    <div class="box-tools pull-right">
        <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="glyphicon glyphicon-minus"></i></button>
    </div>
  </div>
  <div class="box-body">
    <table class="table table-bordered table-hover table-responsive">
        <thead>
            <tr>
                <th>ID</th>
                <th>Fecha</th>
                <th>Tema</th>
                <th>Especialidad</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="capacitacion in empresa.empresario.empresario.asistencias">
                <td>{{capacitacion.captermino.id}}</td>
                <td>{{capacitacion.captermino.fecha}}</td>
                <td>{{capacitacion.captermino.tema}}</td>
                <td>{{capacitacion.captermino.especialidad}}</td>
                <td> <a href="#/capacitacions/{{capacitacion.id}}" class="btn btn-default" title="Ver"> <i class="glyphicon glyphicon-arrow-right"></i> </a> </td>
            </tr>
        </tbody>
    </table>
  </div>
</div>

<div class="box box-default">
  <div class="box-header with-border">
    <span class="label label-primary">{{empresa.proyectos}}</span>
    <h3 class="box-title">Proyectos</h3>
    <div class="box-tools pull-right">
        <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="glyphicon glyphicon-minus"></i></button>
    </div>
  </div>
  <div class="box-body">
    <table class="table table-bordered table-hover table-responsive">
        <thead>
            <tr> <th>ID</th> <th>Fecha</th> <th>Tema</th> <th>Especialidad</th> <th></th> </tr>
        </thead>
        <tbody>
            <tr ng-repeat="proyecto in empresa.proyectos">
                <td>{{proyecto.id}}</td>
                <td>{{proyecto.fecha}}</td>
                <td>{{proyecto.tema}}</td>
                <td>{{proyecto.especialidad}}</td>
                <td> <a href="#/proyectos/{{proyecto.id}}" class="btn btn-default" title="Ver"> <i class="glyphicon glyphicon-arrow-right"></i> </a> </td>
            </tr>
        </tbody>
    </table>
  </div>
</div>

