
<div class="row">
    <div class="btn-group col-xs-12">
        <a href="#/clientes/empresario/{{empresario.id}}" class="btn col-sm-3" 
                    ng-class="{ 'active' : pasoActual == 1, 'btn-primary' : pasoReal > 0, 'disabled' : pasoReal <= 0 }"> 
            Paso 1 : 
            <strong> Empresario </strong>
        </a>
        <a href="#/clientes/empresario/empresa/{{empresa.id}}" class="btn col-sm-3" 
                    ng-class="{ 'active' : pasoActual == 2, 'btn-primary' : pasoReal > 1, 'disabled' : pasoReal <= 1 }"> 
            Paso 2 : 
            <strong> Empresa </strong>
        </a>
        <a href="#/clientes/empresa/indicadores/{{empresa.id}}" class="btn col-sm-3" 
                    ng-class="{ 'active' : pasoActual == 3, 'btn-primary' : pasoReal > 2, 'disabled' : pasoReal <= 1 }"> 
            Paso 3 : 
            <strong> Indicadores </strong>
        </a>
        <a href="#/clientes/empresa/historial/{{empresa.id}}" class="btn col-sm-3" 
                    ng-class="{ 'active' : pasoActual == 4, 'btn-primary' : pasoReal > 2}"> 
            Paso 4 : 
            <strong> Historial </strong>
        </a>
    </div>
</div>