<div ng-include="'app/views/terminos/pasos.html'"></div>
<br>

<div class="box box-primary">
<div class="box-body">
    
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
            
            <form name="frm" role="form" >
                <div class="col-xs-12">
                    <div class="form-group">
                        <label class="control-label" for="nombre"> * Lugar:</label>
                        <div class="controls">
                            <input type="text" class="form-control" ng-model="contrato.lugar_firma" placeholder="Nombre" required autofocus />
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="form-group">
                        <label class="control-label" for="empresa"> Del:</label>
                        <div class="controls">
                            <input type="date" class="form-control" ng-model="contrato.fecha_inicio" placeholder="Nombre"/>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="form-group">
                        <label class="control-label" for="empresa"> Al:</label>
                        <div class="controls">
                            <input type="date" class="form-control" ng-model="contrato.fecha_final" placeholder="Nombre"/>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="form-group">
                        <label class="control-label" for="nit"> Duración:</label>
                        <div class="controls">
                            <input type="number" class="form-control" ng-model="contrato.duracion"/>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="form-group">
                        <label class="control-label" for="nombre"> Pago:</label>
                        <div class="controls">
                            <input type="number" class="form-control" ng-model="contrato.pago"/>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="form-group">
                        <label class="control-label" for="nombre"> Aporte:</label>
                        <div class="controls">
                            <input type="number" class="form-control" ng-model="contrato.aporte"/>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>
    
    
</div>
<div class="box-footer">
    <button class="btn btn-primary pull-right" ng-click="Ok(contrato);" ng-disabled="frm.$invalid">Guardar</button>
    <a href="javascript:window.history.back();" class="btn" ng-click="Cancelar();">Volver</a>
</div>