<div ng-include="'app/views/terminos/pasos.html'"></div>
<br>

<div class="box" ng-show="!asistencia">
<div class="box-body">
<div class="row">
    <div class="col-xs-8 col-xs-offset-2">
    <label for="">Empresa</label>
    <input class="form-control" type="text" ng-model="search" placeholder="Buscar" ng-change="buscar(search);">
    <table class="table table-bordered table-hover table-responsive" ng-show="empresas">
        <thead>
            <tr>
                <th class="text-center">Nombre</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="entidad in empresas" ng-click="select(entidad)" style="cursor:pointer;">
                <td>{{entidad.nombre}}</td>
            </tr>
        </tbody>
    </table>    
    </div>
</div>
    
   
</div>

<div class="box-footer">
    <div class="row">
        <div class="col-xs-12">
            <a href="" class="btn" ng-click="Cancelar();">Salir</a>
        </div>
    </div>
</div>
</div>

<div class="box" ng-show="asistencia.empresa">
    {{asistencia.empresa.nombre}}
</div>

