<div ng-include="'app/views/terminos/pasos.html'"></div>
<br>

<div class="box box-primary">
<div class="box-body">
    <form name="frm" role="form" >
        <div class="col-xs-12 col-sm-6">
            <div class="form-group">
                <label class="control-label"> * Empresa:</label>
                <div class="controls">
                    <input class="form-control" type="text" ng-model="search" placeholder="Buscar" ng-change="buscar(search);" autofocus>
                    <table class="table table-bordered table-hover table-responsive" ng-show="empresas" style="position: absolute; background-color: white; z-index: 10000;">
                        <tbody>
                            <tr ng-repeat="entidad in empresas" ng-click="select(entidad)" style="cursor:pointer;">
                                <td>{{entidad.nombre}}</td>
                            </tr>
                        </tbody>
                    </table> 
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="form-group">
                <label class="control-label"> * Empresario:</label>
                <div class="controls">
                    <select class="form-control" ng-change="asistencia.empresario_id = emp.empresario_id" 
                        ng-options="opt as opt.empresario for opt in empresarios" ng-model="emp">
                    </select>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12">
            <div class="form-group">
                <label class="control-label"> * Tema:</label>
                <div class="controls">
                    <input type="text" class="form-control" ng-model="asistencia.tema" placeholder="Nombre" required />
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4">
            <div class="form-group">
                <label class="control-label" for="obj_general"> Objetivo General:</label>
                <div class="controls">
                <textarea class="form-control" previsualizar name="obj_general" ng-model="asistencia.obj_general" cols="30" rows="2"></textarea>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4">
            <div class="form-group">
                <label class="control-label" for="obj_especifico"> Objetivo Especifico:</label>
                <div class="controls">
                    <textarea class="form-control" previsualizar name="obj_especifico" ng-model="asistencia.obj_especifico" cols="30" rows="2"></textarea>
                </div>
            </div>
        </div>
        
        <div class="col-xs-12 col-sm-4">
            <div class="form-group">
                <label class="control-label" for="productos"> Productos:</label>
                <div class="controls">
                <textarea class="form-control" previsualizar name="productos" ng-model="asistencia.productos" cols="30" rows="2"></textarea>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4">
            <div class="form-group">
                <label class="control-label"> Especialidad:</label>
                <div class="controls">
                    <select class="form-control" ng-change="asistencia.especialidad_id = esp.id" 
                        ng-options="opt as opt.nombre for opt in especialidades" ng-model="esp">
                    </select>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4">
            <div class="form-group">
                <label class="control-label"> Fecha Limite:</label>
                <div class="controls">
                    <input type="date" class="form-control" ng-model="asistencia.fecha"/>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4">
            <div class="form-group">
                <label class="control-label"> Trabajo Local:</label>
                <div class="controls">
                    <input type="text" class="form-control" ng-model="asistencia.trabajo_local" placeholder="Lugar, Calle etc..." />
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4">
            <div class="form-group">
                <label class="control-label"> Semanas de Ejecución:</label>
                <div class="controls">
                    <input type="number" class="form-control" ng-model="asistencia.tiempo_ejecucion" />
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4">
            <div class="form-group">
                <label class="control-label"> Financiamiento:</label>
                <div class="controls">
                    <input type="number" class="form-control" ng-model="asistencia.financiamiento"/>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4">
            <div class="form-group">
                <label class="control-label"> Aporte Empresarial:</label>
                <div class="controls">
                    <input type="number" class="form-control" ng-model="asistencia.aporte" />
                </div>
            </div>
        </div>
    </form>
</div>
<div class="box-footer">
    <button class="btn btn-primary pull-right" ng-click="Ok(asistencia);" ng-disabled="frm.$invalid">Guardar</button>
    <a href="javascript:window.history.back();" class="btn" ng-click="Cancelar();">Volver</a>
</div>

